<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>添加</title>
  <link href="/static/skin/default/style.css" rel="stylesheet" type="text/css" />
  
   <link rel="stylesheet" type="text/css" href="/static/scripts/chosen/css/chosen.css?v=<php>print_r(time());</php>">
  
  <script type="text/javascript" charset="utf-8" src="/static/scripts/jquery/jquery-1.11.2.min.js"></script>
  <script src="/static/scripts/layer/layer.min.js"></script>
  <script src="/static/scripts/laydate/laydate.js"></script>
  
  <script src="/static/scripts/chosen/js/chosen.jquery.js?v=<php>print_r(time());</php>"></script>
  
  <script type="text/javascript" charset="utf-8" src="/static/js/laymain.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/js/common.js"></script>
  <script src="/static/scripts/jquery/jquery.form.min.js"></script>
  <script src="/static/js/base.js"></script>
</head>

<body class="mainbody">

  <div class="line10"></div>
  <!--/导航栏-->

  <!--内容-->
  <div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
      <div class="content-tab-ul-wrap">
        <ul>
          <li><a class="selected" href="javascript:;">添加</a></li>
        </ul>
      </div>
    </div>
  </div>

 <form method="get" action="/branch/code_branch_repository_add_pop.html" id="form_search">
   
  <div class="tab-content">
       
       <dl>
		<dt>仓库分组</dt>
		<dd>
          <select class="remote_select" name="group_uuid" style="width: 80%;">
            <option value="">选择GIT分组</option>
            <foreach name="groupDataList" item="vo">
            	<option value="{$vo.group_uuid}" <eq name="option.group_uuid" value="$vo.group_uuid">selected="selected"</eq>>{$vo.group_name}({$vo.group_code})</option>
            </foreach>
          </select>
          
	    </dd>

		</dl>
 	
 		<dl>
		<dt>关联仓库</dt>
		<dd>
          <select class="remote_select" name="repository_id" style="width: 80%;">
            <option value="0">选择GIT仓库</option>
             <foreach name="respDataList" item="vo">
            	<option value="{$vo.id}">{$vo.repository_name}({$vo.repository_code})</option>
            </foreach>
          </select>
          
	    </dd>

		</dl>

    </div>
    <input type="hidden" name="task_id" value="{$option.task_id}" />
    </form>

   <form action="/branch/code_branch_repository_add_pop/wapi/ajax.html" method="post" id="form_add">
    <div class="page-footer">
      <div class="btn-wrap">
        <input type="button" name="btnSubmit" value="保存" id="btnSubmit" class="btn btn-submit" data-callback="successCall" />
        <input type="hidden" name="task_id" value="{$option.task_id}" />
        <input type="hidden" name="repos_id" value="0" />
      </div>
    </div> 
   </form>

</body>

<script language="javascript">

	function successCall(){
		window.parent.parent.location.reload();
	}

	$(function(){

		$('.remote_select').chosen();
		
		$('select[name="group_uuid"]').chosen().change(function(){
			$('#form_search').submit();
		});
		
		$('select[name="repository_id"]').chosen().change(function(){
			var thisVal=$(this).val();
			$('input[name="repos_id"]').val(thisVal);
		});
	});


</script>

</html>

